
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Customers</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    ContactNo
                                </th>
                                <th>
                                    Pincode
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in ViewBag.CustomerList)
                            {
                                <tr>
                                    <th>
                                        @item.Id
                                    </th>
                                    <th>
                                        @item.FirstName @item.MiddleName @item.LastName
                                    </th>
                                    <th>
                                        @item.Email
                                    </th>
                                    <th>
                                        @item.Addressline1, @item.Addressline2
                                    </th>
                                    <th>
                                        @item.City
                                    </th>
                                    <th>
                                        @item.State
                                    </th>
                                    <th>
                                        @item.Country
                                    </th>
                                    <th>
                                        @item.Phone
                                    </th>
                                    <th>
                                        @item.Pincode
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>